<h1>The Best Recipe</h1>

<h2><%= @recipes.title.titleize %></h2>
<h5>Chef: <%= @recipes.chef %></h5>
<h5>Ingredients: <%= @recipes.ingredients %></h5>
<h5>Directions: <%= @recipes.directions %></h5>
<h5>Prep Time: <%= @recipes.prep_time %></h5>